@import '../../styles/mixins';
@import '../../styles/breakpoints';

.proposition-card {
    margin: 1.6rem auto;
    max-width: 72rem;
    padding: 0 3.2rem;

    @media screen and (max-width: $breakpoint-sm) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header {
        align-items: center;
        display: flex;
        flex-flow: row;
        font-size: 3.5rem;
        font-weight: 700;
        height: 16rem;
        justify-content: center;
        padding: 0 3.2rem;
        text-align: center;
        transition: font-size, padding, 0.3s ease-out;

        @media screen and (max-width: $breakpoint-lg) {
            font-size: 2.8rem;
            padding: 0;
        }
    }

    &__card {
        @include card();

        margin-top: 2rem;

        &-title {
            color: $secondary-muted;
            font-size: 1.3rem;
            margin-top: 0;
            text-transform: uppercase;
        }
    }

    &__buttons {
        align-items: start;
        column-gap: 3.2rem;
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 3.2rem;

        @media screen and (max-width: $breakpoint-md) {
            column-gap: 1.6rem;
        }

        @media screen and (max-width: $breakpoint-sm) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin-bottom: 2rem;
            row-gap: 1rem;

            .proposition-button {
                margin: 0 auto;
            }
        }
    }

    &__neutral {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 2.6rem;
    }

    &__actions {
        align-items: center;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 3.2rem auto;
        max-width: 52rem;
    }
}
