@import '../../mixins';

.proposition-card {
    margin: 1rem auto;
    max-width: 45rem;
    padding: 0 2rem;

    header {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.2rem;
        margin-top: 3rem;
        padding: 0 2rem;
        text-align: center;
    }

    &__card {
        @include card();

        margin-top: 4rem;

        &-title {
            color: $secondary-muted;
            font-size: 0.8rem;
            margin-top: 0;
            text-transform: uppercase;
        }
    }

    &__buttons {
        align-items: center;
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 2rem;

        button + button {
            margin-left: 2rem;
        }
    }

    &__actions {
        margin: 2rem auto;
        max-width: 32rem;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
