.route-scores {
    &__wrapper {
        column-gap: 2rem;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2rem;
    }

    .error {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
