@import '../../styles/breakpoints';
@import '../../styles/colors';

.route-propositions {
    > header {
        font-size: 2.9rem;
        text-align: center;
        transition: font-size 0.3s ease-out;

        h1 {
            align-items: center;
            column-gap: 1.5rem;
            display: grid;
            font-size: inherit;
            grid-template-columns: 15rem 5rem;
            justify-content: center;
        }

        @media screen and (max-width: $breakpoint-lg) {
            font-size: 2.5rem;
        }
    }
}
