@import '../../styles/breakpoints';
@import '../../styles/colors';

.route-propositions {
    &__header {
        font-size: 2.9rem;
        text-align: center;
        transition: font-size 0.3s ease-out;

        &__prop {
            text-align: left;
        }

        h1 {
            align-items: center;
            display: grid;
            font-size: 1.8rem;
            grid-template-columns: 12rem 5rem;
            justify-content: center;
        }

        @media screen and (max-width: $breakpoint-lg) {
            font-size: 2.5rem;
        }
    }
}
