@import '../../styles/colors';
@import '../../styles/mixins';

.button {
    @include text-ellipsis();

    background-color: $button-primary;
    border: 0;
    border-radius: 2.6rem;
    box-shadow: 0 0.4rem 0.6rem rgba($button-primary, 0.1);
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0.4rem;
    padding: 1.6rem 3.2rem;
    text-align: center;
    user-select: none;

    .anticon {
        font-size: 90%;
    }

    &:first-child {
        .anticon {
            margin-right: 0.5rem;
        }
    }

    &:last-child {
        .anticon {
            margin-left: 0.5rem;
        }
    }

    &:hover,
    &:active {
        background-color: darken($button-primary, 5%);
    }

    &:focus {
        outline: 2px solid lighten($button-primary, 10%);
        outline-offset: 2px;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.25;
    }

    &--small {
        padding: 0.6rem 2rem;
    }

    &--secondary {
        background-color: $white;
        border: 1px solid darken($white, 4%);
        color: $button-primary;

        &:hover,
        &:active {
            background-color: mix($white, $button-primary, 98%);
        }
    }

    &--transparent {
        background-color: transparent;
        box-shadow: unset;
        color: $button-primary;

        &:hover,
        &:active {
            background-color: transparent;
        }
    }

    &--danger {
        background-color: $button-danger;
        border: 1px solid darken($button-danger, 4%);
        color: $white;

        &:hover,
        &:active {
            background-color: darken($button-danger, 5%);
        }

        &:focus {
            outline: 2px solid lighten($button-danger, 10%);
            outline-offset: 2px;
        }
    }
}
