@import './colors';

/**
* The shared mixins.
* @example: .item { @include @scrollbar() }
*/

@mixin scrollbar {
    &::-webkit-scrollbar {
        height: 0.4em;
        width: 0.4em;
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        overflow: visible;
    }

    &::-webkit-scrollbar-thumb {
        background: lighten(darken($secondary, 95%), 90%);
    }
}

@mixin box-shadow {
    box-shadow: 0 0.3rem 1.6rem rgba($primary, 0.16);
}

@mixin card {
    @include box-shadow();

    background-color: $white;
    border-radius: 1.3rem;
    padding: 2.8rem 2.4rem;
}

@mixin text-ellipsis () {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin reduce-motion-safe() {
    @media screen and (prefers-reduced-motion: no-preference) {
        @content;
    }
}

@mixin animate-slide-on-axis($axis, $animationName, $animateSelf, $amount, $delay: 0) {
    @include reduce-motion-safe() {
        // stylelint-disable keyframes-name-pattern
        @keyframes #{$animationName} {
            from {
                opacity: 0;

                @if $axis ==  y {
                    transform: scale(0.95) translateY(#{$amount});
                }

                @if $axis ==  x {
                    transform: scale(0.95) translateX(#{$amount});
                }
            }

            to {
                opacity: 1;

                @if $axis ==  y {
                    transform: scale(1) translateY(0);
                }

                @if $axis ==  x {
                    transform: scale(1) translateX(0);
                }
            }
        }

        @if $animateSelf {
            animation: #{$animationName} 0.3s #{$delay * 0.1}s ease-out forwards;
            opacity: 0;
        }

        @else {
            > * {
                animation: #{$animationName} 0.3s #{$delay * 0.1}s ease-out forwards;
                opacity: 0;
            }
        }
    }
}
