@import './colors';

/**
* The shared mixins.
* @example: .item { @include @scrollbar() }
*/

@mixin scrollbar {
    &::-webkit-scrollbar {
        height: 0.4em;
        width: 0.4em;
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        overflow: visible;
    }

    &::-webkit-scrollbar-thumb {
        background: lighten(darken($secondary, 95%), 90%);
    }
}

@mixin card {
    background-color: $white;
    border-radius: 1.3rem;
    box-shadow: 0 0.3rem 1.6rem rgba($primary, 0.16);
    padding: 2.8rem 2.4rem;
}

@mixin text-ellipsis () {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin reduce-motion-safe() {
    @media screen and (prefers-reduced-motion: no-preference) {
        @content;
    }
}

@mixin animate-slide-up($delay: 0, $animateSelf: false) {
    @include reduce-motion-safe() {
        @keyframes slide-up {
            from {
                opacity: 0;
                transform: translateY(1rem);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @if $animateSelf {
            animation: slide-up 0.3s #{$delay * 0.1}s ease-out forwards;
            opacity: 0;
        }

        @else {
            > * {
                animation: slide-up 0.3s #{$delay * 0.1}s ease-out forwards;
                opacity: 0;
            }
        }
    }
}
