@import './fonts';
@import './colors';
@import './breakpoints';

*::selection {
    background: $secondary;
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary;
    font-family:
        Outfit,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 100vh;

    @media screen and (max-width: $breakpoint-md) {
        background-image: url('/images/background-mobile.svg');
    }

    a {
        color: $secondary;
        text-decoration: underline;
    }
}
