@import '../../colors';

.proposition-button {
    padding: 0 2rem;
    width: 6rem;

    &__button {
        background: #fff;
        border: none;
        border-radius: 4rem;
        box-shadow: 0 0.2rem 1rem rgba($primary, 0.16);
        cursor: pointer;
        font-size: 2rem;
        padding: 0.5rem 0;
        transition: box-shadow 0.3s ease-in-out;
        width: 100%;

        :hover > & {
            box-shadow: 0 0.4rem 1.5rem rgba($primary, 0.24);
        }
    }

    &__name {
        line-break: auto;
        margin-top: 1rem;
        text-align: center;
        text-transform: capitalize;
    }
}
