@use 'sass:math';

@import '../../styles/colors';

.proposition-button {
    $width: 6rem;

    display: flex;
    flex-direction: column;
    transition: font-size, 0.3s ease-out;
    width: $width;

    @media screen and (max-width: 80rem) {
        font-size: 0.9rem;
    }

    &__button {
        background: #fff;
        border: 0;
        border-radius: 2rem;
        box-shadow: 0 0.2rem 1rem rgba($primary, 0.16);
        cursor: pointer;
        font-size: 2rem;
        padding: 0.5rem 0;
        transition: box-shadow, font-size, 0.3s ease-out;

        @media screen and (max-width: 80rem) {
            font-size: 1.6rem;
        }

        :hover > & {
            box-shadow: 0 0.4rem 1.5rem rgba($primary, 0.24);
        }
    }

    &__name {

        $offset: 2rem;

        line-break: auto;
        margin-left: math.div(-$offset, 2);
        margin-top: 1rem;
        text-align: center;
        text-transform: capitalize;
        width: $width + $offset;
    }
}
