@import '../../styles/colors';
@import '../../styles/breakpoints';

.icon {
    $self: &;
    $size: 6.5rem;

    align-items: center;
    background-color: $white;
    border-radius: 2rem;
    display: flex;
    height: $size;
    justify-content: center;
    position: relative;
    transition: none;
    width: $size;

    @media screen and (max-width: $breakpoint-md) {
        $size: 5rem;

        border-radius: 1.2rem;
        height: $size;
        width: $size;
    }

    &::after {
        border: 3px solid transparent;
        border-radius: 1.2rem;
        content: '';
        height: calc($size + 2 * 2px);
        left: -5px;
        position: absolute;
        top: -5px;
        width: calc($size + 2 * 2px);
    }

    svg {
        fill: $primary;
        height: 80%;
        width: inherit;
    }
}
