@import '../../styles/mixins';
@import '../../styles/breakpoints';

.route-faq {
    padding: 2rem 4rem;

    h1 {
        padding-bottom: 4rem;
    }

    .questions-list {
        padding: unset;
        width: 100%;

        &__item {
            @include animate-slide-on-axis(y, layout-slide-up, true, 1rem);

            list-style: none;
            padding: 2rem 3rem;

            summary {
                font-size: 2rem;
                font-weight: 800;
                margin: 0;
            }

            p {
                padding: 0 2rem;
            }
        }
    }
}
