@import '../../styles/colors';

.nav {
    $self: &;

    color: $primary;
    display: inline-flex;
    flex-direction: column;
    row-gap: 1.5rem;

    &__link {
        $self-link: &;

        align-items: center;
        border-color: $primary;
        color: inherit;
        column-gap: 1.5rem;
        display: inline-flex;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 0.5rem;
        text-decoration: none;

        &:first-child {
            width: 9rem;

            .icon {
                background-color: unset;
                width: inherit;
            }
        }

        &:not(:first-child) {
            &#{$self-link} {
                opacity: 0.5;

                .icon {
                    box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
                }

                &:focus,
                &:hover {
                    opacity: 1;
                    outline: none;
                }

                &:focus {
                    > .icon {
                        outline: 2px solid rgba($secondary, 0.5);
                        outline-offset: 2px;
                    }
                }

                &--active {
                    $self-active: &;

                    color: $secondary;
                    opacity: 1;

                    > .icon {
                        outline: 2px solid rgba($secondary, 0.5);
                        outline-offset: 2px;
                    }

                    > .icon svg path {
                        fill: $secondary;
                    }
                }
            }
        }

        span {
            display: block;
        }
    }

    @media screen and (max-width: 60rem) {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        span {
            display: none;
        }
    }
}
