@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/breakpoints';

.nav {
    background-color: $white;
    color: $primary;
    display: flex;
    justify-content: center;

    &__wrapper {
        display: inline-flex;
        flex-direction: column;
        row-gap: 2.4rem;
    }

    &__link {
        $self-link: &;

        align-items: center;
        border-color: $primary;
        color: inherit;
        column-gap: 2.4rem;
        display: inline-flex;
        font-size: 1.9rem;
        font-weight: 700;
        padding: 0.8rem;
        text-decoration: none;

        &:first-child {
            margin-top: 1rem;

            @media screen and (max-width: $breakpoint-lg) {
                display: none;
            }

            .icon {
                width: 12rem;
                height: 12rem;
                background-color: unset;
            }
        }

        &:not(:first-child) {
            &#{$self-link} {
                opacity: 0.5;

                @media screen and (min-width: $breakpoint-lg) {
                    .icon {
                        box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
                    }
                }

                &:focus,
                &:hover {
                    opacity: 1;
                    outline: none;
                }

                &--active {
                    $self-active: &;

                    color: $secondary;
                    opacity: 1;

                    @media screen and (min-width: $breakpoint-lg) {
                        > .icon {
                            outline: 2px solid rgba($secondary, 0.5);
                            outline-offset: 2px;
                        }
                    }

                    > .icon svg path {
                        fill: $secondary;
                    }
                }
            }
        }

        span {
            display: block;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        display: block;
        position: relative;
        width: 100%;

        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0 auto;
            max-width: 80rem;
        }

        &::before {
            background: linear-gradient(180deg, rgba($primary, 0) 0, rgba($primary, 0.05) 100%);
            content: '';
            height: 0.8rem;
            left: 0;
            position: absolute;
            right: 0;
            top: -0.8rem;
            z-index: 99;
        }

        &__link {
            column-gap: 0;
            flex-direction: column;
            font-size: 1.4rem;
            font-weight: 500;
            padding: 0 0 1rem;
            width: 5rem;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        &__link {
            font-size: 1.25rem;
        }
    }
}
