@import '../../styles/colors';
@import "../../styles/breakpoints";

.route-landing {
    &__line {
        font-size: 2.5rem;
        margin: 0;
    }

    &__wrapper {
        max-width: 120rem;

        .icon {
            background: none;
            width: 20rem;
            height: 20rem;
        }

        section {
            padding: 2rem 4rem 1rem;
            width: 100vw;
            box-sizing: border-box;
            overflow: hidden;
        }

        &__content {
            font-size: 2.2rem;
            font-weight: 500;
            max-width: 64rem;
            text-align: center;
            margin: auto;
        }

        h2 {
            text-align: center;
            font-size: 3rem;
        }

        .section-argument {
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            margin-top: 3rem;

            h2 {
                margin-bottom: 4rem;
            }

            &__wrapper {
                display: flex;
                justify-content: space-evenly;
                flex-flow: row;
                flex-wrap: wrap;
                width: 100%;
            }

            &__item {
                flex-basis: 30rem;
                text-align: center;
                margin-bottom: 4rem;

                &-image {
                    align-items: center;
                    background-color: rgba($primary, 0.1);
                    border-radius: 50%;
                    display: flex;
                    height: 8rem;
                    justify-content: center;
                    margin: 0 auto;
                    width: 8rem;

                    svg {
                        height: 4.5rem;
                        width: 4.5rem;
                    }
                }

                p {
                    max-width: 32rem;
                }
            }
        }

        .section-vote {
            p {
                max-width: 32rem;
                margin: 2rem auto;
                text-align: center;
            }

            &__container {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                &__item {
                    padding: 2rem;
                }
            }

            &__buttons {
                max-width: 42rem;
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
            }
        }


        &__cards {
            margin-bottom: 5rem;
            box-sizing: border-box;

            .candidate-score {
                animation: unset;
                margin: 0 auto;
                opacity: 1;
                position: relative;

                .button {
                    display: none;
                }

                &:first-child {
                    z-index: 3;
                }

                &:nth-child(2) {
                    margin-top: -20rem;
                    transform: rotate(-10deg) translateX(-8rem) !important;
                    z-index: 2;
                }

                &:nth-child(3) {
                    margin-top: -21rem;
                    transform: rotate(5deg) translateX(7rem) !important;
                }
            }
        }

        &__quiz {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            margin-top: 2rem;
            text-align: center;

            button {
                margin: 2rem auto 4rem;
            }
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        section {
            padding: 4rem 8rem 2rem;
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        section {
            padding: 6rem 12rem 4rem;
        }
    }
}
