@import '../../styles/colors';

.route-landing {
    &__wrapper {
        margin: 3rem auto;
        max-width: 120rem;
        padding-left: 2rem;
        padding-right: 2rem;

        .hero {
            column-gap: 3rem;
            display: grid;
            grid-template-columns: 1fr 2fr;

            &__logo {
                margin-bottom: -1rem;
                margin-top: 10rem;
                width: 20rem;
            }

            &__title {
                color: $black;
                margin: 0;
                text-transform: uppercase;

                &-first {
                    display: block;
                    font-size: 8.5rem;
                    line-height: 10rem;
                    margin-bottom: -1.5rem;
                }

                &-second {
                    display: block;
                    font-size: 4.2rem;
                }

                &-me {
                    margin: auto -0.7rem;
                }
            }

            &__content {
                font-size: 2.2rem;
                font-weight: 500;
                margin-bottom: 5rem;
            }
            &__left {}

            &__right {
                display: flex;
                justify-content: flex-end;
                position: relative;

                .candidate-score {
                    left: calc(50% - 17.5rem);
                    position: absolute;
                    top: calc(50% - 17.5rem);
                }
            }
        }

        h2 {
            font-size: 3rem;
        }

        section {
            margin: 4rem 0;
        }

        .section-argument {
            align-items: center;
            display: flex;
            flex-direction: column;

            h2 {
                text-align: center;
            }

            &__wrapper {
                align-items: baseline;
                column-gap: 2rem;
                display: inline-flex;
                justify-content: space-evenly;
            }

            &__item {
                flex-basis: 30rem;
                text-align: center;

                &-image {
                    align-items: center;
                    background-color: rgba($primary, 0.1);
                    border-radius: 50%;
                    display: flex;
                    height: 8rem;
                    justify-content: center;
                    margin: 0 auto;
                    margin-bottom: 3rem;
                    width: 8rem;

                    svg {
                        height: 4.5rem;
                        width: 4.5rem;
                    }
                }
            }
        }
    }
}
