@import '../../styles/colors';

.route-table {
    &__wrapper {
        align-items: center;
        display: flex;
        flex-flow: column;
        justify-content: center;

        &__candidate {
            transform: translateX(38px) + translateY(8px) + rotate(210deg);
            writing-mode: vertical-lr;
        }

        table {
            border-spacing: 0;
        }

        td {
            border-bottom: 1px solid $button-primary;
            border-right: 1px solid $button-primary;
            padding: 10px 8px;
        }

        &__section {
            font-size: 2rem;
            font-weight: 800;
            padding: 4rem 0 2rem;
        }

        .icon {
            background: none;
            height: 24px;
            width: 24px;
        }

        tbody {
            text-align: center;
        }

        tr:first-child {
            text-align: left;

            th {
                padding: 8px;
            }

            :first-child {
                text-align: center;
                vertical-align: bottom;
            }
        }

        tr {
            :first-child {
                max-width: 38rem;
            }
        }
    }
}
