@import '../../styles/mixins';
@import '../../styles/breakpoints';

.route-layout {
    background-image: url('/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: $breakpoint-md) {
        background-image: url('/images/background-mobile.svg');
    }

    .app-wrapper {
        box-sizing: border-box;
        column-gap: 2rem;
        display: grid;
        flex-direction: row;
        grid-template-columns: 24rem 1fr;
        height: 100vh;
        margin: 0 auto;
        max-width: 150rem;
        overflow-y: hidden;
        padding: 2rem;
        position: relative;

        .route {
            @include scrollbar();
            @include animate-slide-up();

            overflow-y: auto;

            > div > header {
                position: sticky;
                top: 0;
            }
        }

        @media screen and (max-width: $breakpoint-xxl) {
            max-width: 128rem;
        }

        @media screen and (max-width: $breakpoint-lg) {
            display: flex;
            flex-direction: column-reverse;
            grid-template-columns: unset;

            .route {
                min-height: calc(100vh - 12rem);
            }
        }

        @media screen and (max-width: $breakpoint-md) {
            .route {
                min-height: calc(100vh - 10.6rem);
            }
        }
    }
}
