@import '../../styles/mixins';
@import '../../styles/breakpoints';

.route-layout {
    .app-wrapper {
        box-sizing: border-box;
        display: grid;
        flex-direction: row;
        grid-template-columns: 33rem 1fr;
        height: 100vh;
        overflow-y: hidden;
        position: relative;

        @media screen and (max-width: $breakpoint-xl) {
            grid-template-columns: 26rem 1fr;
        }

        .route {
            @include scrollbar();
            @include animate-slide-on-axis(y, layout-slide-up, false, 1rem);

            overflow-y: auto;
            padding: 2rem;

            > div > header {
                position: sticky;
                top: 0;
            }
        }

        @media screen and (max-width: $breakpoint-lg) {
            display: flex;
            flex-direction: column-reverse;
            grid-template-columns: unset;
            padding: 0;

            .route {
                min-height: calc(100vh - 12rem);
            }
        }

        @media screen and (max-width: $breakpoint-md) {
            .route {
                min-height: calc(100vh - 10.6rem);
            }
        }
    }
}
