@import '../../styles/breakpoints';
@import '../../styles/mixins';

.candidate-score {
    @include card();

    align-items: center;
    box-sizing: border-box;
    column-gap: 0.5rem;
    display: grid;
    flex-flow: row;
    grid-template-columns: 7rem 1fr 6rem 6rem;
    margin: 16px 0;
    max-width: 45rem;
    padding: 0.5rem;
    width: 100%;

    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 7rem 1fr repeat(2, 5rem);
    }

    @for $index from 0 to 50 {
        &:nth-child(#{$index}) {
            @include animate-slide-up($index, true);
        }
    }

    &__score {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;

        &::after {
            content: '%';
            font-size: 60%;
            opacity: 0.8;
        }
    }

    &__details {
        overflow: hidden;

        &__name {
            @include text-ellipsis();

            font-size: 24px;
            font-weight: 700;
        }

        &__movement {
            @include text-ellipsis();

            font-size: 16px;
        }
    }

    &__chip {
        background-color: rgba($primary, 0.1);
        border-radius: 16px;
        font-size: 20px;
        padding: 4px 16px;
        text-align: right;

        @media screen and (max-width: $breakpoint-md) {
            padding: 4px 1rem;
        }
    }
}
