@import '../../styles/breakpoints';

.route-operation {
    &__wrapper {
        margin: 3rem auto;
        max-width: 120rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &-header {
        display: flex;
        justify-content: space-between;

        &__title {
            margin: 0;
        }

        &__logo {
            height: 4rem;
        }
    }

    &-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .proposition-button {
            &__name {
                display: none;
            }
        }

        &__cards {
            .candidate-score {
                animation: unset;
                margin: 0 auto;
                opacity: 1;
                position: relative;

                .button {
                    display: none;
                }

                &:first-child {
                    z-index: 3;
                }

                &:nth-child(2) {
                    margin-top: -18rem;
                    transform: rotate(-10deg) translateX(-5rem);
                    z-index: 2;
                }

                &:nth-child(3) {
                    margin-top: -25rem;
                    transform: rotate(5deg) translateX(7rem);
                }
            }
        }

        > div {
            flex-basis: 50%;
        }

        @media screen and (max-width: $breakpoint-lg) {
            > div {
                flex-basis: 100%;
            }
        }
    }
}
