@import '../../styles/mixins';
@import '../../styles/breakpoints';

.route-options {
    &__wrapper {
        padding: 2rem 4rem;

        @media screen and (max-width: $breakpoint-md) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        h1 {
            padding-bottom: 4rem;
        }
    }

    .options-list {
        padding: unset;
        width: 100%;

        &__item {
            @include card();
            @include animate-slide-on-axis(y, layout-slide-up, true, 1rem);

            list-style: none;
            margin-bottom: 2rem;
            padding: 2rem 3rem;

            h2 {
                font-size: 2rem;
                margin: 0;
            }

            p {
                margin-top: 0.5rem;

                + .button {
                    margin-left: 0;
                }
            }

            ul {
                padding-left: 2rem;
            }
        }
    }
}
