@import '../../styles/mixins';

.route-options {
    .option-card {
        @include card();

        margin: 0 auto;
        max-width: 45rem;
        padding: 0 2rem;
    }

    pre {
        font-size: 1rem;
        margin: 0 auto;
        max-width: 50rem;
        overflow-x: auto;
        padding: 0.4rem;

        button {
            margin-top: 1rem;
        }
    }
}
