@import "./_fonts.scss";

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
