@import '../../styles/mixins';

.envelope {
    &-card {
        @include card();

        aspect-ratio: 2/1;
        overflow: hidden;
        position: relative;
        width: 15rem;

        &::before,
        &::after {
            background-color: rgb(243 243 243);
            content: '';
            height: 2px;
            position: absolute;
            top: 0;
            width: 61%;
        }

        &::before {
            left: 0;
            transform: rotate(35deg);
            transform-origin: top left;
        }

        &::after {
            right: 0;
            transform: rotate(-35deg);
            transform-origin: top right;
        }
    }
}
